<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2013 The Android Open Source Project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bluetooth.le"
          android:versionCode="2"
          android:versionName="1.01">
    <!-- Declare this required feature if you want to make the app available to BLE-capable
    devices only.  If you want to make your app available to devices that don't support BLE,
    you should omit this in the manifest.  Instead, determine BLE capability by using
    PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE) -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE "/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- ACCESS_FINE_LOCATION：允许一个程序访问精确位置(如GPS） -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- ACCESS_COARSE_LOCATION：允许一个程序访问CellID或WiFi热点来获取大致的位置 -->
	

    <application android:label="@string/app_name"
                 android:icon="@drawable/img_app_logo"
                 android:theme="@style/AppTheme"
                 android:name="BluetoothApplication"
                android:requestLegacyExternalStorage="true">
        <activity android:name="com.example.bluetooth.le.activity.DeviceScanActivity"
                  android:label="@string/app_name"
                    android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
			<activity android:name="com.example.bluetooth.le.activity.BluetoothservicesListview"/>
			<activity android:name="com.example.bluetooth.le.activity.BleViewPage"
			    android:windowSoftInputMode="stateHidden"
			    />
			<activity android:name="com.example.bluetooth.le.activity.ReadWriteActivity"
			    />
			<activity android:name="com.example.bluetooth.le.activity.OtaActiviy"/>
			<activity android:name="com.example.bluetooth.le.activity.SelectFileActivity"
                android:screenOrientation = "portrait"/>
			<activity android:name="com.example.bluetooth.le.activity.LedctrActivity"/>
			<activity android:name="com.example.bluetooth.le.activity.TestDataActivity"
                android:screenOrientation = "portrait"/>
        <activity android:name="com.example.bluetooth.le.activity.TRXActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.example.bluetooth.le.activity.DeviceInfoActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.example.bluetooth.le.activity.SetWorkActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.example.bluetooth.le.activity.OTAUpdateActivity"
            android:screenOrientation = "portrait"/>

    </application>
</manifest>
